@model SelectCardViewModel
@{
    ViewData["Title"] = "Default";
}


<div class="well form-group">
    <label asp-for="CardsList" class="control-label"></label>
    <select asp-for="@Model.BankCardId" asp-items="@Model.CardsList" class="form-control"></select>
    <span asp-validation-for="BankCardId" class="text-danger"></span>
    @*<a class="btn btn-default" asp-controller="Card" asp-action="AddCard">Add card</a>*@

    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#exampleModal">Add card</button>

</div>