@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/images/home.jpg");
        min-height: 100%;
        z-index: 0;
        background-attachment: fixed;
    }

</style>

<div id="label-corner" class="corner-ribbon sticky black shadow text-center">
    <span class="neon">Bede</span> <span class="flux">Slots</span>
</div>

<div class="bgimg-1 w3-display-container" id="home">

    <div class="w3-display-middle w3-center" style="white-space:nowrap;">
        <span class="w3-center 2 w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><i>WE KNOW EVERYTHING ABOUT LUCK!</i></span>
    </div>
    <div class="w3-display-bottomleft w3-text-white" style="padding:48px">
            <p><a href="game" class="w3-button w3-round-xxlarge w3-red w3-padding-large w3-large w3-hover-black">Try you fortune now!</a></p>
     </div>
</div>

<div id="container">
    <div id="content">
        <div id="leftPan">
            <div id="welcome">
                <h2 class="text-capitalize">We know everything abou luck!</h2>
                <p>
                    <span class="headline">Nam justo augue, dictum a, hendrerit!</span><br />
                    All your favorite games are right here with some of the best payouts.
                </p>
                <div class="clear"></div>
            </div>
            <div id="popular">
                <h2></h2>
                <div class="popularItem" id="l1">
                    <img src="images/home/img_games.jpg" width="57" height="57" alt="" />
                    <p>
                        <span class="headline">Nam justo augue, </span><br />
                        Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet.
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="popularItem" id="r1">
                    <img src="images/home/img_games-04.jpg" width="57" height="57" alt="" />
                    <p>
                        <span class="headline">Nam justo augue, </span><br />
                        Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet.
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="rightPan">
            <div id="how">
                <h2>How to play</h2>
                <p>
                    <span class="headline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam </span><br />
                    <br />
                    Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Cras Lorem ipsum dolor sit amet
                </p>
            </div>
        </div>
        <div class="clear" id="end"></div>
    </div>
</div>

