@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />



<div id="container">
    <div id="slogan-img">
        <img src="images/home/logo.jpg" alt="" name="logo" width="160" height="160" id="logo" /> <img src="images/home/slogan.jpg" alt="" name="logo" width="190" height="109" id="slogan" />
    </div>
    Try Your Fortune!

    <div id="content">
        <div id="leftPan">
            <div id="welcome">
                <h2 class="text-capitalize">We know everything abou luck!</h2>
                <p>
                    <span class="headline">Nam justo augue, dictum a, hendrerit!</span><br />
                    Fusce interdum. Maecenas eu elit sed nulla dignissim interdum.
                    Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam.
                    Cras Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc.
                </p>
                <div class="clear"></div>
            </div>
            <div id="popular">
                <h2></h2>
                <div class="popularItem" id="l1">
                    <img src="images/home/img_games.jpg" width="57" height="57" alt="" />
                    <p>
                        <span class="headline">Nam justo augue, </span><br />
                        Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet.
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="popularItem" id="r1">
                    <img src="images/home/img_games-04.jpg" width="57" height="57" alt="" />
                    <p>
                        <span class="headline">Nam justo augue, </span><br />
                        Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet.
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="popularItem" id="l2">
                    <img src="images/home/img_games-05.jpg" width="57" height="57" alt="" />
                    <p>
                        <span class="headline">Nam justo augue, </span><br />
                        Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet.
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="popularItem" id="r2">
                    <img src="images/home/img_games-06.jpg" width="57" height="57" alt="" />
                    <p>
                        <span class="headline">Nam justo augue, </span><br />
                        Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet.
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="rightPan">
            <div id="how">
                <h2>How to play</h2>
                <p>
                    <span class="headline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam </span><br />
                    <br />
                    Fusce interdum. Maecenas eu elit sed nulla dignissim interdum. Sed laoreet. Aenean pede. Phasellus porta. Ut dictum nonummy diam. Cras Lorem ipsum dolor sit amet
                </p>
            </div>
        </div>
        <div class="clear" id="end"></div>
    </div>
</div>

