@model BedeSlots.Web.Models.AddCardViewModel

@{
    ViewData["Title"] = "AddCard";
}

<h2>AddCard</h2>

<div>
    <form asp-controller="Card" asp-action="AddCard" method="post">
        <label asp-for="CardNumber" class="control-label"></label>
        <input asp-for="CardNumber" type="text" name="CardNumber" placeholder="Card number" />
        <span asp-validation-for="CardNumber" class="text-danger"></span>

        <label asp-for="Cvv" class="control-label"></label>
        <input asp-for="Cvv" type="text" name="cvv" placeholder="cvv" />
        <span asp-validation-for="Cvv" class="text-danger"></span>

        <label asp-for="Expiry" class="control-label"></label>
        <input asp-for="Expiry" type="date" name="expiry" placeholder="expiry" />
        <span asp-validation-for="Expiry" class="text-danger"></span>

        <label asp-for="CardTypeId" class="control-label"></label>
        <select asp-for="CardTypeId" asp-items="@Model.CardTypes"></select>
        <span asp-validation-for="CardTypeId" class="text-danger"></span>

        <label asp-for="CurrencyId" class="control-label"></label>
        <select asp-for="CurrencyId" asp-items="@Model.Currencies"></select>
        <span asp-validation-for="CurrencyId" class="text-danger"></span>

        <button type="submit">Add</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}