@model BedeSlots.Web.Models.AddCardViewModel

@{
    ViewData["Title"] = "AddCard";
}

<h2>Add new card</h2>

<div class="card-wrapper">
    <div class="form-container active">
        <form id="form" asp-controller="Card" asp-action="AddCard" method="post">
            <div class="well ">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" id="number" type="text" name="CardNumber" placeholder="Card number" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="well ">
                <label asp-for="Cvv" class="control-label"></label>
                <input asp-for="Cvv" id="cvc" type="text" name="Cvv" placeholder="CVV"  />
                <span asp-validation-for="Cvv" class="text-danger"></span>
            </div>
            <div class="well ">
                <label asp-for="Expiry" class="control-label"></label>
                <input asp-for="Expiry" id="expiry" type="text" name="Expiry" placeholder="MM/YY" value=""  />
                <span asp-validation-for="Expiry" class="text-danger"></span>
            </div>
            <div class="well ">
                <label asp-for="CardType" class="control-label"></label>
                <select asp-for="CardType" asp-items="Html.GetEnumSelectList<CardType>()" ></select>
                <span asp-validation-for="CardType" class="text-danger"></span>
            </div>
            <div class="well ">
                <input placeholder="Full name" type="text" name="name">

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">Add</button>
            </div>
        </form>
    </div>
</div>


