@model GameSlotViewModel
@inject IJsonHelper Json;

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/game.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4">
        <a asp-controller="Game" asp-action="SmallSlotMachine" class="btn">
            <img src="~/images/img-history-fruit-big.jpg" alt="Resposive Image" />
        </a>
    </div>
</div>
