@{
    ViewData["Title"] = "Index";
}

<link href="~/css/game.css" rel="stylesheet" />
<div class="row">

    <form asp-controller="Game" asp-action="SlotMachine" method="get">
        <button type="submit" class="btn btn-primary" name="size" value="4x3">
            <img class="smallgame-poster" src="~/images/img-history-fruit-big.jpg" alt="Resposive Image" />
        </button>
        <button type="submit" class="btn btn-primary" name="size" value="5x5">Middle</button>
        <button type="submit" class="btn btn-primary " name="size" value="8x5">Big</button>
    </form>

    <div class="smallgame col-md-4">
        <a asp-controller="Game" asp-action="TuttyFruity" class="btn">
            <img class="smallgame-poster" src="~/images/img-history-fruit-big.jpg" alt="Resposive Image" />
        </a>
        <a asp-controller="Game" asp-action="SlotMachine" class="form-control btn btn-danger">Small game</a>
    </div>
    <div class="col-md-4">
        <a asp-controller="Game" asp-action="SlotMachine" class="btn">
            <img class="mediumgame-poster" src="~/images/img-history-fruit-big.jpg" alt="Resposive Image" />
        </a>
        <a asp-controller="Game" asp-action="SlotMachine" class="form-control btn btn-danger">Medium game</a>
    </div>
    <div class="col-md-4">
        <a asp-controller="Game" asp-action="SlotMachine" class="btn">
            <img class="biggame-poster" src="~/images/img-history-fruit-big.jpg" alt="Resposive Image" />
        </a>
        <a asp-controller="Game" asp-action="SlotMachine" class="form-control btn btn-danger">Big game</a>
    </div>
</div>