@*@model BedeSlots.Web.Areas.Admin.Models.Users.EditRoleViewModel*@

@{
    ViewData["Title"] = "_EditRolePartial";
}

<div>
    <p>Nice try, but you cannot change the role of the main admin!</p>
</div>