@model UserListingViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User administration</h2>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<div class="container">
    <div style="width:90%; margin:0 auto;">
        <table id="table-users" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Currency</th>
                    <th>Role</th>
                    <th>Edit Role</th>
                </tr>
            </thead>
        </table>

        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </div>
                    <div class="modal-body" id="myModalBodyDiv1">

                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenEmployeeId" />
    </div>
</div>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

    <script>    
        var EditRole = function (userid) {

            console.log('vatrer e')
            var url = "/Admin/Users/EditRole?userid=" + userid;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {
            $("#table-users").DataTable({
                "processing": false, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once

                "ajax": {
                    "url": "/Admin/Users/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [6],
                        "orderable": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "username", "name": "Username", "autoWidth": true },
                    { "data": "firstname", "name": "Firstname", "autoWidth": true },
                    { "data": "lastname", "name": "Lastname", "autoWidth": true },
                    { "data": "email", "name": "Email", "autoWidth": true },
                    { "data": "balance", "name": "Balance", "autoWidth": true },
                    { "data": "currency", "name": "Currency", "autoWidth": true },
                    { "data": "role", "name": "Role", "autoWidth": true },
                    {
                        "data": "userid",
                        "render": function (userid, type, full, meta) {
                            //return '<button type="button" id="edit" value =' + userid + '>Edit</button>'
                            return '<a href="#" class="btn btn-success" onclick="EditRole(&quot;' + userid + '&quot;)"> edit </a>'
                        }
                    },
                ]
            });

                   
            $("#edit").click(function () {
                $.ajax({
                    url: "/Admin/Users",
                    type: "Get",
                    data: userid,
                    success: function () {

                        console.log('lopge')
                        //$("#myModalBodyDiv1").load(url, function () {
                        //    $("#myModal1").modal("show");

                        //})
                    },
                    error: function (arg, data, value) {
                        console.log(arg + data + value);
                    }
                })
            });

        });
    </script>
}

