 @model UserBalanceViewModel

@{
    ViewData["Title"] = "Default";
}

<ul class="nav navbar-nav navbar-default pull-right">
    <li class="dropdown c" id="balance-dropdown">
        <a class="dropdown-toggle glyphicon glyphicon-retweet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @if (Model.Currency != Currency.BGN)
            {
                <strong>
                    Balance: @WebConstants.CurrencySymbols[Model.Currency]@Model.Balance
                </strong>
            }
            else
            {
                <strong>
                    Balance: @Model.Balance @WebConstants.CurrencySymbols[Model.Currency]
                </strong>
            }
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="balance-dropdown">
            <li><a class="text-center" asp-area="" asp-controller="Withdraw" asp-action="Index">Withdraw</a></li>
            <li><a class="text-center" asp-area="" asp-controller="History" asp-action="Index">History</a></li>
        </ul>
    </li>
</ul>